.github/**
.vscode/**
.vscode-test/**
src/**
out-test/**
dist-cli/**
node_modules/**
docs/**
scripts/**
media/**
*.vsix
**/*.map
tsconfig*.json
webpack.config.js
.gitignore
.gitattributes
.eslintrc*
README.es.md
tslint.json
dist/tsconfig.tsbuildinfo
